* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: 0px;
}

@font-face {
    font-family: "DM Sans";
    src: url(./fonts/DM_Sans/static/DMSans-Light.ttf);
 }
 

html {
    background-color: #000000;
}

body {
    background-color: #191919;
    color: #fff;
    max-width: 1440px;
    display: block;
    margin: 0 auto;
}

header {
    padding: 40px 50px 10px 50px;
    background-color: #191919;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 160px;
    height: 33px;
}

.menu {

    display: flex;
    gap: 40px;
    list-style-type: none;
    justify-content: center;
    width: 403px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
    font-family: "DM Sans"; /* Изменить позже на  DM Sans */
    line-height: 27px;
    text-align: left;
}

.menu a:hover {
    color: #118DA8;
}

.hero {
    display: flex;
    justify-content: flex-start;
    padding: 70px;
}

.hero .image {
    position: relative;
    width: 650px;
    height: 873.44px;
}

.image-decor {
    position: absolute;
    top: -25px;
    left: -25px
}

.content {
    max-width: 500px;
}

.content h2 {
    font-size: 70px;
    font-weight: 400;
    font-family: "DM Sans";
    letter-spacing: 3.2px;
    color: #fff;
    line-height: 88px;
    margin-top: 300px;
    margin-left: 60px;
    margin-bottom: 90px;
    width: 530px;
}

.content h2 span {
    font-size: 75px;
    font-weight: 400;

    position: relative;
}

.content h2 span img {
    position: absolute;
    left: 0;
}

.content h2 span span {
    font-size: 75px;
    font-weight: bolder;
    letter-spacing: 10px;
}

.content p {
    font-size: 15px;
    font-weight: 400;
    margin-left: 85px;
    font-family: "DM Sans";
}

.platforms {
    margin-top: 20px;
    margin-left: 85px;
    
}

.icons {
    width: 32px;
    height: 32px;
    margin-right: 14px;
}

section.episodes {
    display: flex;
    flex-direction: column;
}

section.episodes .secondary-header,
section.episodes .cards {
    width: 1300px;
}

.secondary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
    margin-bottom: 60px;
}

.secondary-header > h2 {
    font-family: "DM Sans";
    font-size: 64px;
    font-weight: 400;
    line-height: 79.2px;
    letter-spacing: 2.880000114440918px;
    text-align: left;
    align-self: start;
}

.secondary-header > button {
    width: 178px;
    height: 51px;
    border-radius: 6px;
    background: #118DA8;
    color: #fff;
    font-family: "DM Sans";
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    align-self: end;
}

.cards {
    height: 545px;
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    margin-bottom: 60px;
    padding: 40px;
    background-color: #000;
    border-radius: 32px;
}

.cards > .image {
    width: 389px;
    height: 465px;
}
.cards > .image > img {
    width: 389px;
    height: 465px;
}

.cards > .info {
    width: 778px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
}

.info > .tag {
    width: fit-content;
    height: 27px;
    border-radius: 6px ;
    background: #191919;
    margin-top: 8px;
    margin-bottom: 50px;
    font-family: "DM Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    display: inline;
    text-decoration: none;
    padding-inline: 15px;  
    color: #fff;
}

.info .episode-number {
    font-family: "DM Sans";
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    color: #118DA8;
    margin-bottom: 20px;
}

.info > h2 {
    font-family: "DM Sans";
    font-size: 64px;
    font-weight: 400;
    line-height: 70.4px;
    letter-spacing: 2.56px;
    margin-bottom: 25px;
    text-wrap: balance;
}

.cards:last-child .info > h2 {
    font-size: 57px;
}

.info > .text {
    font-family: "DM Sans";
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    opacity: 70%;
    width: 773px;
}

.info > button {
    width: 208px;
    height: 51px;
    background-color: #118DA8;
    border-radius: 6px;
    font-family: "DM Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #fff;
    margin-top: auto;
}

.cards:last-child {
    margin-bottom: 160px;
}

section.jacob {
    padding: 100px 70px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.circle  {
    border-radius: 50%;
    background-color: #118DA8;
    width: 112px;
    height: 112px;
    position: relative;
    margin-bottom: 20px;
}

.circle > img {
    position: absolute;
    top: 35px;
    left: 20px;
}

.jacob > .image > img {
    width: 650px;
    height: 743px;
    border-radius: 12px 0px 0px 0px;
}

.jacob > .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text > .small-text {
    font-family: "DM Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #118DA8;
}

.text > h2 {
    font-family: "DM Sans";
    font-size: 65px;
    font-weight: 400;
    line-height: 79.2px;
    letter-spacing: 2.88px;
}

.text :where(.text-1, .text-2) {
    font-family: "DM Sans";
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    opacity: 70%;
    width: 556px;
    margin-top: 33px;
}

section.submit-form {
    display: flex;
    justify-content: flex-start;
    width: 1300px;
    margin-inline: auto;
    padding: 60px;
    margin-bottom: 100px;
    background-color: #000;
    height: 387px;
    border-radius: 32px;
    position: relative;
}

.submit-form > img {
    width: 147px;
    height: 91px;
    position: absolute;
    bottom: -28px;
    left: -38px;
}

.submit-form :where(.text, .form) {
    width: 650px;
}

.submit-form > .text > p {
    font-family: "DM Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #118DA8;
}

.submit-form > .text > h2 {
    font-family: "DM Sans";
    font-size: 72px;
    font-weight: 400;
    line-height: 79.2px;
    letter-spacing: 2.88px;
    width: 431px;
}

.submit-form > .form > form {
    display: flex;
    flex-direction: column;
    margin-left: 76px;
}
.submit-form > .form > form > input {
    width: 522px;
    height: 82px;
    border-radius: 6px;
    border: 0px;
    background-color: #191919;
    padding-left: 19px;
    border: 1px solid #191919;
    margin-bottom: 20px;
}

.submit-form > .form > form > :where(input[value="Name"], input[value="Email"]) {
    color: #fff;
    opacity: 70%;
    font-family: "DM Sans";
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: 0.5px;
}

.submit-form > .form > form > button {
    width: 87px;
    height: 48px;
    border-radius: 6px;
    background-color:#118DA8;
    color: rgba(255,255,255,0.7);

    font-family: "DM Sans";
    font-size: 15px;
    font-weight: 700;
    line-height: 28.8px;
    letter-spacing: 0.5px;
}

.reviews {
    width: 1300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    gap: 15px;
    justify-content: space-between;
    margin-top: 200px;
    margin-inline: auto;

}

.reviews > .review {
    width: 423px;
    /* height: 321px; */
    background-color: #000;
    border-radius: 32px;
    padding: 50px;
}

.reviews > .review > img {
    width: 18px;
    height: 18px;
    margin-left: 1px;
    margin-top: 2px;
}

.reviews > .review > .comment {
    font-family: "DM Sans";
    font-size: 36px;
    font-weight: 400;
    line-height: 43.2px;
    margin-top: 18px;
    width: 320px;
}

.reviews > .review > .author {
    font-family: "DM Sans";
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    color: rgba(255,255,255,0.7);
    margin-top: 20px;
}

footer {
    margin-top: 200px;
    width: 1300px;
    margin-inline: auto;

    display: flex;
    gap: 16px;
    padding-bottom: 120px;
}

footer > .logo2 {
    display: flex;
    flex-direction: column;
    width: 448px;
}

footer .logo2 img.logoImage {
    width: 224px;
    margin-bottom: 20px;
}

footer .logo2 .icons {
    display: flex;
    gap: 10px;
}

footer .logo2 .icons img{
    width: 24px;

}

footer ul {
    list-style-type: none;
}

footer .link-list1 {
    width: 179px;
}

footer .link-list1 li,
footer .link-list2 li {
    font-family: "DM Sans";
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
}

footer > .platforms2 {
    margin-left: 10px;
    
}

footer > .platforms2 > a > .icons {
    width: 32px;
    height: 32px;
    margin-right: 14px;
}